@font-face {
    font-family: 'Cascadia Code';
    src: url('../../assets/font/CascadiaCode-Bold.woff2') format('woff2'),
        url('../../assets/font/CascadiaCode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('../../assets/font/CascadiaCode-Regular.woff2') format('woff2'),
        url('../../assets/font/CascadiaCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #002810;
    font-family: 'Cascadia Code', 'Consolas', 'Courier New', Courier, monospace;
    font-variant-numeric: slashed-zero;
    color:#e7f6e4;
    text-align: start;
    font-size: 1.25rem;
    line-height: 1.6;
    margin: 0;
}

h2 {
    text-transform:uppercase;
    font-size: 2.5rem;
    line-height: 1.1;
    margin-block: 10px;
}

h3, h4, h5, h6 {
    font-size: 2.2rem;
    line-height: 1.1;
    margin-block: 10px;
}


ul {
    text-align: start;
}

li::marker {
    content: '- ';
}

img, iframe {
    display: block;
    object-fit: cover;
    max-inline-size: 100%;
    block-size: auto;
    margin: auto;
}


header {
    max-inline-size: 1500px;
    margin-inline: auto;
    block-size: 100dvh;
    min-block-size: 1000px;
    text-align: center;
    /* TO DO this font size needs to respond to shrink when screen width is below 600px  */
    font-size: 3rem;
    line-height: 1.15;
    @media (width < 700px) {
       h1 {
        font-size: 4.5rem;
       }
        li {font-size: 1.8rem;
       }
    }
}

.header-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div .header-flex {
    flex: 1;
    justify-content: center;
    margin: 8px;
    margin-inline: auto;
    padding: 50px;
}

.primary-navigation {
    block-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-clip: content-box;
}

.primary-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.primary-navigation li::marker {
    content: none;
}

.primary-navigation a {
    color: #F54EC2;
    text-transform: lowercase;
    text-decoration: none;
}

.primary-navigation a:hover, a:focus-visible {
    color:#DEBDBB;
    text-transform: uppercase;
}

.wrapper {
    max-inline-size: 1500px;
    margin: 8px;
    margin-inline: auto;
    padding-inline: 50px;
    padding-block: 0;
    @media (width < 700px) {
        padding-inline: 20px;
    }
}

section {
    margin-block: 50px;
    background-color:#DEBDBB;
    color: #1C211C;
    padding: 20px;
    border: solid 5px #1C211C;
    @media (width < 700px) {
        padding: 10px;
    }
}

.mossy-logo {
    position: relative;
    background-image: url(../../assets/logo/Logo-Mossy-Background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    @supports (hanging-punctuation: initial) {
        @media (width <600px) {
            background-attachment: scroll;
        }
    }
    mask-image: url('../../assets/logo/Circle-Vector.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
    justify-content: center;
    align-content: center;
}

// .mossy-logo:after{
//     content:"";
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 100dvh;
//     z-index: -1;
//     background: url(../../assets/logo/Logo-Mossy-Background.png);
//     background-size: cover;
// }

.logo-cursive img {
    /* TO DO I think this should be set to a more relative unit, not pixels although whatever I'll use I need to apply it to the .mossy-logo mask size too*/
    object-fit: contain;
    position: relative;
    inline-size: 50%;
}

// MAIN

main a {
    color: #1C211C;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

main a:hover, a:focus-visible {
    text-transform:none;
    text-decoration: none;
}

.two-column-grid {
    display: grid;
    @media (width >1000px) {
        grid-template-columns: repeat(2, 1fr);
    }
    gap: 20px;
    align-items: start;
    justify-items: center;
}


.about-three {
    @media (width >1000px) {
        order: 4;
    }
}

.two-column-grid img {
    width: 95%;
    border: solid #1C211C 5px;
}

.pink-highlight strong {
    position: relative;
    background: #EF7A71;
}

// BOOK SECTION
.span-all {
    grid-column: 1/ -1;
}

.three-column-grid {
    display: grid;
    place-items: start;
    justify-items: start;
    gap: 20px;
    @media (width >700px) {
        grid-template-columns: repeat(3, 1fr);
    }
}


.book-flex {
    display: flex;
    block-size: 100%;
    // inline-size: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.address {
    list-style: none;
}

.address li::marker {
    content: none;
}


.map {
    block-size: 100%;
}

iframe {
    border:solid 3px #1C211C;
    inline-size:100%;
    block-size: 100%;
    accent-color: white;
}

.contact {
    background: #e7f6e4;
    margin-inline: auto;
    padding: 20px;
    border:solid 3px #1C211C;
}

form {
    display: grid;
    gap: 1rem;
    @media (width >700px) {
        grid-template-columns: repeat(2, 1fr);
    }
    accent-color: #EF7A71;
}

fieldset {
    padding: 0;
    border: 0;
}

fieldset input {
    outline: none;
}

fieldset:has([required]) legend, 
.form-group:has(:not([type="radio"])[required]) label {
    display: flex;
    gap: .5ch;
    &::after {
        content: "*";
        color:#EF7A71;
    }
}

input, textarea, .fieldset:has([type="radio"]) {
    font: inherit;
    background-color: #e7f6e4;
    border: none;
    outline: solid 3px #1C211C;
    &:focus-visible {
        outline-color: #EF7A71;
        background-color: #e7f6e4;
    }
}

button {
    font: inherit;
    background-color: #1C211C;
    color:#e7f6e4;
    border: 0;
}

button:hover, :focus-visible {
    background: #EF7A71;
    color: #1C211C;
}

.form-group:has([type="radio"]:checked) {
    outline: solid 2px #1C211C;
    background-color: #1C211C;
    color: #e7f6e4;
}

#consent {
    outline: none;
}


fieldset {
    outline: solid 3px #1C211C;
    padding: 5px;
    block-size: 100%;
    inline-size: 100%;
}

fieldset label, legend {
    inline-size: 100%;
}

.form-group {
    display: grid;
}

.form-group:has([type="radio"], [type="checkbox"]) {
    display: flex;
    gap: 1ch;
}

textarea {
    box-sizing:content-box;
    height: 5lh;
    resize: block;
}

// FOOTER

footer .two-column-grid, .logo-cursive-footer {
    justify-items: end;
    align-items: center;
    gap: 20px;
    @media (width > 600px) {
        grid-template-columns: 1fr 1fr; 
    }
    padding-block: 20px;
    padding-inline: 50px;
    background-image: url(../../assets/logo/Logo-Mossy-Background.png);
    background-attachment: fixed;
    @media (width <600px) {
        @supports (hanging-punctuation: initial) {
            background-attachment: scroll;
        }
    }
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 45%;
    background-size: auto;
}

// .logo-cursive-footer:after{
//     content:"";
//     position: fixed;
//     bottom: 0;
//     // left: 0;
//     // right: 0;
//     height: 100dvh;
//     z-index: -1;
//     background: url(../../assets/logo/Logo-Mossy-Background.png);
//     background-size: cover;
// }

.circle-bg {
    block-size: 20dvh;
    inline-size: 20dvh;
    background-color: #002810;
    border-radius: 50%;
}


.logo-cursive-footer img {
    object-fit: contain;
    border: none;
    block-size:20dvh;
}

.two-column-grid-icons {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 20px;
}

.two-column-grid-icons img {
    block-size: 1lh;
    margin-inline-end: 0;
    background-color: none;
    border-radius: 0;
}

.grid-justify-start {
    justify-self:start;
    @media (width < 600px) {
        justify-self:center;
    }
}

footer .book-flex {
    background-color: #002810;
    padding: 20px;
    gap: 0px;
    justify-content: space-evenly;
    text-align: end;
    font-size: 1rem;
}

footer a {
    color: #e7f6e4;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

footer a:hover, a:focus-visible {
    // color:#1C211C;
    text-transform:none;
    text-decoration: none;
}

// Privacy Policy

header.privacy-policy-header {
    // background-color: #e7f6e4;
    max-inline-size: 100%;
    margin: 0;
    block-size: auto;
    min-block-size: auto;
    text-align: start;
}

section.callout {
    background-color: #e7f6e4;
}